@model SmartHome.Models.UserModel
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - SmartHome</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SmartHome</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <h1>Login</h1>



            @using (Html.BeginForm())
            {
                <form class="text-center border border-light p-5" action="#!">

                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control mb-4", @type = "text", @placeholder = "Username..." } })

                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control mb-4", @type = "password", @placeholder = "Password..." } })

                    <div class="loginbtn">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>

                </form>
            }
            <a class="btn btn-secondary" asp-action="Index" asp-controller="Houses">View Home</a>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SmartHome
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>