@model IEnumerable<SmartHome.Models.Device>
@{
    ViewData["Title"] = "Room Device List";
}

<h1>Room Device List</h1>

<a asp-controller="Device" asp-action="OpenAddDeviceWindow">New Device</a> | <a asp-controller="Scenario" asp-action="AddScenario">New Scenario</a>
<br />
<ul class="list-group">
    @foreach (var device in Model)
    {
    <li class="list-group-item">
        @device.Name
            <span class="badge" style="float: right;">
                <div class="custom-control custom-switch">
                    @if (device.State == DeviceState.Off)
                    {
                        <input type="checkbox" name="DeviceState" class="custom-control-input" value="@device.Id"> @* not sure ar cia teisingai *@
                        <label class="custom-control-label" for="customSwitch1"></label>
                    }
                    else if (device.State == DeviceState.On)
                    {
                        <input type="checkbox" name="DeviceState" class="custom-control-input" value="@device.Id" checked>
                        <label class="custom-control-label" for="customSwitch1"></label>
                    }
                    else
                    {
                        <span>broken</span>
                    }
                </div>
            </span>
                
    </li>
    }
</ul>