.page-footer {
 padding-top: 0;
 background-color: transparent;
}

.main {
 margin-top: 100px;
}

.main-container {
 display: flex;
 margin-left: 15%;
 margin-right: 15%;
}

.item-container {
 margin: 0 auto;
}

.card-panel {
 cursor: pointer;
}

.back {
 padding: 15px;
}

.collection {
 width: 100%;
}

.block {
 display: block;
}

.btn-margin {
 margin-bottom: 15px;
}

.mini {
 max-width: 400px;
}