@model IEnumerable<SmartHome.Models.Room>
@{
    ViewData["Title"] = "RoomList";
}

<h1>RoomList</h1>

<a asp-controller="Room" asp-action="OpenRoomAddWindow">Add Room</a>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Room</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(roomItem => room.Name)</th>
                <td style="text-align: right;">
                    <a asp-area="" asp-controller="Room" asp-action="Details" asp-route-id="10">select</a> |
                    <a asp-area="" asp-controller="Room" asp-action="RoomEdit" asp-route-id="10" disabled>update</a> |
                    <a asp-area="" asp-controller="Room" asp-action="Delete" asp-route-id="10" disabled>delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>